plotly>=4.12.0
requests>=2.24.0
streamlit>=1.35.0
pandas>=1.1.3
geopandas==0.12.2
metar>=1.8.0
python-dateutil>=2.8.1

#Cython
numpy
#shapely
matplotlib
folium
streamlit-folium
windrose
xarray
siphon
#netcdf4 # ==1.6.5
scipy
bottleneck
google-cloud-storage
streamlit_geolocation
ogn-client